@font-face {
    font-family: 'ubuntu';
    src: url('../assets/font/ubuntu/UbuntuMono-B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../assets/font/fontello/font/fontello.eot?81623395');
  src: url('../assets/font/fontello/font/fontello.eot?81623395#iefix') format('embedded-opentype'),
       url('../assets/font/fontello/font/fontello.woff?81623395') format('woff'),
       url('../assets/font/fontello/font/fontello.ttf?81623395') format('truetype'),
       url('../assets/font/fontello/font/fontello.svg?81623395#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.icon-help:before { content: '\e801'; } /* '' */
.icon-road:before { content: '\e816'; } /* '' */
.icon-move:before { content: '\e814'; } /* '' */
.icon-down:before { content: '\e803'; } /* '' */
.icon-left:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e815'; } /* '' */
.icon-rocket:before { content: '\e809'; } /* '' */
.icon-hourglass:before { content: '\e80b'; } /* '' */
.icon-water:before { content: '\e80a'; } /* '' */
.icon-arrow-curved:before { content: '\e806'; } /* '' */
.icon-target-1:before { content: '\e808'; } /* '' */
.icon-fuel:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e811'; } /* '' */