.gauge {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #444;
	box-shadow:0 0 4px rgba(0,0,0,0.5) inset;
	position: absolute;
	z-index: 100;
}

.gauge:before {
	font-family: "fontello";
	font-size: 1.5em;
	position: absolute;
}

.gauge div {
	width: 100%;
	height: 100%;
	box-shadow:0 2px 4px 0 rgba(255,255,255,0.6) inset,0 -2px 4px 0 rgba(0,0,0,0.6) inset;
	position: absolute;
	bottom: 0;	
}

.gauge .relax {
	background-color: green;
}

.gauge .nervous {
	background-color: orange;
}

.gauge .dead {
	background-color: #e02100;
}

.gauge.fuel {
	width: 10px;
	height: 50%;
	top: 30px;
	left: 5px;
}

.gauge.fuel:before {
	content: '\e800'; 
	top: -1.2em;
	left: 0;
}

.gauge.bullet {
	width: 200px;
	height: 10px;
	margin: 100px auto 0;
	right: 0;
	left: 0;
	top: 50%;
}

.gauge.bullet:before {
	content: '\e80a';
	display: inline-block; 
	right: -1.5em;
	top: -0.3em;
	transform: scale(1, -1);
}

