body {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.canvas {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.crosschair {
	position: absolute;
	margin: auto;
	font-size: 1.5em;
	color: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 15px;
	height: 0;
	z-index: 100;
}

.inputHelperMainContainer {
	position: absolute;
	width: 400px;
	height: 100%;
	overflow: auto;
	right: 0;
	top: 0;
	border-left: 1px solid #fff;
}

.xzButton {
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fff;
}

.yButton {
	position: absolute;
	bottom: 30px;
	right: 5px;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: #fff;
}

.shootButton {
	position: absolute;
	bottom: 70px;
	right: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
}