.pageContainer {
	width: 100%;
	height: 100%;
	text-align: center;
}

.pageContainer .title {
	font-size: 3em;
	margin: 5%;
}

.pageContainer .button {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	line-height: 1.2em;
	font-size: 1.2em;
	padding: 20px 20%;
	margin: 10px 20%;
	border-radius: 5px;
}

.pageContainer .button.back {
	padding: 5px 5%;
	margin: 0;
	position: absolute;
	top: 5px;
	left: 5px;
}

.pageContainer .button.small {
	padding: 5px 5%;
	margin: 5px 5%;
	display: inline-block;
}

.pageContainer .button:hover {
	color: #ccc;
	background-color: #333;
}

.pageContainer img {
	width: 50%;
}

.compatibility {
	padding: 10px;
	text-align: center;
	line-height: 1.5em;
}

.compatibility.true:after {
	content: "OK";
	color: green;
	background: #FFF;
	padding: 5px;
	display: inline-block;
	transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	margin-left: 10px;
}

.compatibility.false:after {
	content: "KO";
	color: #cb2100;
	background: #FFF;
	padding: 5px;
	display: inline-block;
	transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	margin-left: 10px;
}

.compatibility .description {
	position: absolute;
	right: 0;
	margin-right: 50px;
	line-height: 22px;
	padding: 10px;
	font-size: 0.8em;
}

.compatibility.true .description {
	display: none;
}